:root {
    --bodybgc: #f1ecdf;
    --hourbgc:#332b16;
    --savebtn: #1f3213;
    --delbtn: #700808 ;
    --hourborderbgc: #221c0e;
    --icons: #f9b000;
    --pastbgc:#e0d5b7;
    --presentbgc:#947d3f;
    --futurebgc:#c7b37e;
    --li: #155799;
}

.custom-hnf {
    background: linear-gradient(to right, #155799, #159957); 
    color: white
}


.custom-bgc {
    background-color: maroon;
    color: white;
}

.custom-divider {
    border-top: 1px solid gray;
    border-radius: 5px;
}

.custom-li {
    background-color: var(--li);
    border-radius: 5px;
    padding: 3px;
    margin-bottom: 1rem;
}